{% extends 'users/base.html' %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-uppercase my-3 text-center text-primary opacity-50">User Login</h1>
    <form action="" method="post" class="w-50 mx-auto shadow-lg px-5 py-4">
        {% csrf_token %}
        {% if error_message %}
        <div class="alert alert-danger">
            <span class="fw-semibold">{{ error_message }}</span>
        </div>
        {% endif %}
        <!-- username -->
        <div class="mb-3 username-field">
            <label for="id_username" class="form-label">Username</label>
            {{ login_form.username }}
        </div>
        <!-- password -->
        <div class="mb-3 password-field">
            <label for="id_password" class="form-label">Password</label>
            {{ login_form.password }}
        </div>
        <a href="{% url 'users:password-reset' %}"
            class="link-danger d-block mb-3 text-end link-underline-opacity-0 link-underline-opacity-50-hover">
            Forget Password
        </a>
        <input type="submit" value="Login" class="btn btn-success">
    </form>
</div>
{% endblock %}