{% extends "users/base.html" %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-uppercase my-3 text-center text-primary opacity-50">Change Password</h1>
    <form action="" method="post" class="w-50 mx-auto shadow-lg px-5 py-4">
        {% csrf_token %}
        {% if form.errors %}
        <div class="alert alert-danger list-unstyled">
            {{ form.errors }}
        </div>
        {% endif %}
        <!-- old password -->
        <div class="mb-3">
            <label for="id_old_password" class="form-label">Old password:</label>
            <input
                type="password"
                name="old_password"
                autocomplete="current-password"
                required
                autofocus
                id="id_old_password"
                class="form-control">
        </div>
        <!-- new password -->
        <div class="mb-3">
            <label for="id_new_password1" class="form-label">New password:</label>
            <input
                type="password"
                name="new_password1"
                autocomplete="new-password"
                required 
                id="id_new_password1"
                class="form-control">
        </div>
        <!-- message -->
        <div class="mb-3">
            <ul class="bg-dark-subtle py-2">
                <li>Your password can't be too similar to your other personal information.</li>
                <li>Your password must contain at least 8 characters.</li>
                <li>Your password can't be entirely numeric.</li>
                <li>Your password can't be a commonly used password.</li>
            </ul>
        </div>
        <!-- confirm password -->
        <div class="mb-3">
            <label for="id_new_password2" class="form-label">New password confirmation</label>
            <input
                type="password"
                name="new_password2"
                autocomplete="new-password"
                required
                id="id_new_password2"
                class="form-control">
        </div>
        <!--  -->
        <input type="submit" value="Update Password" role="button" class="btn btn-success">
        <a href="{% url 'users:index' %}" role="button" class="btn btn-danger">Cancel</a>
    </form>
</div>

{% endblock body %}