{% extends "users/base.html" %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-uppercase my-3 text-center text-primary opacity-50">Change Password</h1>
    <form action="" method="post" class="w-50 mx-auto shadow-lg px-5 py-4">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_email" class="form-label">Email:</label>
            <input
                type="email"
                name="email"
                autocomplete="email"
                maxlength="254"
                required id="id_email"
                class="form-control"
                autofocus>
        </div>
        <!--  -->
        <input type="submit" value="Reset My Password" role="button" class="btn btn-success">
        <a href="{% url 'index' %}" role="button" class="btn btn-danger">Cancel</a>
    </form>
</div>
{% endblock body %}