{% extends "users/base.html" %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-uppercase my-3 text-center text-primary opacity-50">Create Post</h1>
    <form action="" method="post" enctype="multipart/form-data" class="w-50 mx-auto shadow-lg px-5 py-4">
        {% csrf_token %}
        {% if form.errors %}
        <div class="alert alert-danger list-unstyled">
            {{ form.errors }}
        </div>
        {% endif %}
        <!-- title -->
        <div class="mb-3">
            <label for="id_title" class="form-label">Title</label>
            <input type="text" name="title" maxlength="200" required id="id_title" class="form-control">
        </div>
        <!-- caption -->
        <div class="mb-3">
            <label for="id_caption" class="form-label">Caption</label>
            <textarea name="caption" rows="3" id="id_caption" class="form-control"></textarea>
        </div>
        <!-- profile image -->
        <div class="mb-3">
            <label for="id_image" class="form-label">Image</label>
            <input type="file" name="image" accept="image/*" required="" id="id_image" class="form-control">
        </div>
        <!-- buttons -->
        <input type="submit" value="Post" role="button" class="btn btn-success">
        <a href="{% url 'index' %}" role="button" class="btn btn-danger">Cancel</a>
    </form>
</div>

{% endblock body %}