{% extends "users/base.html" %}
{% load static %}
{% load mathfilters %}

{% block body %}
<div class="container mt-4 mb-5">
    <h2 class="text-primary text-center my-3">{{ title }}</h2>
    <div class="w-75 mx-auto">
        <a href="{% url 'posts:create-post' %}" class="btn btn-primary mb-3" role="button">
            <span class="text-white"><i class="fa-solid fa-plus"></i></span>
            Create Post
        </a>
    </div>
    {% if posts %}
    {% for post in posts %}
    <div class="card mb-3 w-75 mx-auto border-0 shadow-lg">
        <div class="card-body">
            {% if post.user == user %}
            <h5 class="card-title">
                {% if post.user.profile.profile_image %}
                <img
                    src="{{ post.user.profile.profile_image.url }}"
                    alt="{{ post.user.username }}"
                    class="img-fluid avatar-photo">
                {% else %}
                <img
                    src="{% static 'posts/images/no_profile.png' %}"
                    alt="{{ post.user.username }}"
                    class="img-fluid avatar-photo">
                {% endif %}
                <span class="text-primary">@{{ post.user.username }}(You)</span>
                posted <span class="text-success">{{ post.title }}</span>, on
                <span class="opacity-75 text-secondary">{{ post.created }}</span>
            </h5>
            {% else %}
            <h5 class="card-title">
                {% if post.user.profile.profile_image %}
                <img
                    src="{{ post.user.profile.profile_image.url }}"
                    alt="{{ post.user.username }}"
                    class="img-fluid avatar-photo">
                {% else %}
                <img
                    src="{% static 'posts/images/no_profile.png' %}"
                    alt="{{ post.user.username }}"
                    class="img-fluid avatar-photo">
                {% endif %}
                <span class="text-primary">@{{ post.user.username }}</span>
                posted <span class="text-success">{{ post.title }}</span>, on
                <span class="opacity-75 text-secondary">{{ post.created }}</span>
            </h5>
            {% endif %}
            <div class="card-text opacity-75">{{ post.caption }}</div>
        </div>
        <img src="{{ post.image.url }}" alt="{{ post.title }}" class="card-img-bottom img-thumbnail">
        <div class="icons py-2">
            {% if user in post.liked_by.all %}
            <img src="{% static 'posts/images/full_heart.png' %}"
                alt="like"
                class="img-fluid like-dislike-image px-2"
                onclick="doLike('{{ post.id }}')">
            {% else %}
            <img src="{% static 'posts/images/empty_heart.png' %}"
                alt="like"
                class="img-fluid like-dislike-image px-2"
                onclick="doLike('{{ post.id }}')">
            {% endif %}
            <!-- <img src="{% static 'posts/images/comment.png' %}" alt="like" class="img-fluid comment-image px-2"> -->
        </div>
        <div class="like-msg px-3">
            <span class="text-secondary opacity-75">
                {% if post.liked_by.count == 0 %}
                No Likes
                {% elif post.liked_by.count == 1 %}
                <b>{{ post.liked_by.first }}</b> Likes this
                {% elif post.liked_by.count == 2 %}
                <b>{{ post.liked_by.first }}</b> and <b>{{ post.liked_by.count|sub:1 }} other</b> Likes this
                {% elif post.liked_by.count > 1 %}
                <b>{{ post.liked_by.first }}</b> and <b>{{ post.liked_by.count|sub:1 }} others</b> Likes this
                {% endif %}
            </span>
        </div>
        <div class="comment-msg px-5 py-2">
            {% for comment in post.comments.all %}
            <div class="comment-message pb-2">
                <span class="fw-normal d-block">{{ comment.body }}</span>
                <span class="text-primary fw-semibold opacity-75">@{{ comment.posted_by.username }}</span>
                <span>on</span>
                <span class="text-success fw-semibold opacity-75">{{ comment.created| timesince }} ago</span>
            </div>
            {% endfor %}
            <div class="comment-form shadow-sm py-3 px-3 bg-primary-subtle">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="mb-3 form-floating">
                        <textarea
                            name="body"
                            required
                            id="id_body"
                            rows="2"
                            class="form-control"
                            placeholder="-"></textarea>
                        <label for="id_body" class="form-label">Add comment here</label>
                    </div>
                    <input type="hidden" name="post_id" value="{{ post.id }}">
                    <input type="submit" value="Add Comment" class="btn btn-success mb-2">
                    <!-- {{ comment_form.as_p }} -->
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p class="display-4 fw-bold text-danger text-center">No posts posted yet.</p>
    {% endif %}
</div>
<script type="text/javascript">
    var csrftoken = '{{ csrf_token }}';
</script>
{% endblock body %}